.app-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color: rgb(138, 136, 136);
}

td {
  background-color: rgb(205, 206, 207);
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 28px;
}

.check-box{
width: 25px;
height: 25px;
text-align: center;
vertical-align: middle;
}

.button-style{
  background-color: #131414; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 5%;
  margin-left: 45%;
}